
/* Fuentes - Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Menu */
.menu {
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}

.menu-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu-enlaces {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu-item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu-item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu-enlace {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-enlace:hover {
    background-color: #5e7094;
}

.menu-flecha {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu-anidado {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu-enlace-interior {
    padding: 30px 100px 30px 20px;
}

.menu-enlace-interior:hover {
    background-color: #798499;
}

.menu-hamburguesa {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu-img {
    display: block;
    width: 36px;
}

/* Media Queries */
@media (max-width: 800px) {
    .menu-hamburguesa {
        display: flex;
    }

    .menu-item {
        --clip: 0;
        overflow: hidden;
    }

    .menu-item-activo {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu-item-mostrar {
        background-color: var(--background);
    }

    .menu-enlaces {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu-enlaces-mostrar {
        transform: unset;
        width: 100%;
    }

    .menu-enlace {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu-flecha {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu-anidado {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu-enlace-interior {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}
